.box_list {
	width: 50%;
}

.principal_container {
	padding: 64px 160px
}

h1 {
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.2px;
	color: #373F41;
}

label {
	position: static;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737B7D;
	margin: 16px 0px;
}

table.table {
	margin-top: 16px;
}

.table th, .table tr, .table td {
	border: none;
}

table td {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #737B7D;
}

a.float-right.btn.btn-primary.btn-lg {
  margin-top: 20px;
}

.label_forms {
	position: static;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #212529;
	margin-bottom: 8px;
}

select {
	height: 36px;
	width: 255px; 	
  padding: 0 12px;
  color: #6C757D;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
  margin-bottom: 16px;
}

input {
	height: 36px;
	width: 255px;
	left: 0px;
	top: 32px;
	text-indent: 12px;
	border: 1px solid #CED4DA;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 32px;
}

.lft-btn {
	margin-right: 16px;
}

.disable_btn {
  background: #F4F5F4;
	color: #DBDDE0;
	border: 1px solid #F4F5F4;
}

.btn-outline-primary{
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding: 12px 18px;
	box-sizing: border-box;
	border-radius: 4px;
}
