.home {
  align-items: center;
  padding: 165px 355px;
  position: static;
}

.feature_home {
	font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #373F41;

}

.complement_text {
	font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #737B7D;
}

.container_btn {
	text-align: center;
	margin: 56px 0px;
}

.btn{
	background: #3C64B1;
	border-radius: 4px;
}

.card-img-top {
	height: 90px;
  width: 90px;
  margin: 64px 0 0 123px;
}

.card {
	border: none;
}

.card-title {
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #373F41;
}

.card-text {
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #373F41;
}