/* TODO: Improve overall App design;
    You are encouraged to use any CSS framework to provide a clean and easy-to-use UI to use for users */

* {

}
select {
  display: block !important;
}
.show_item{
	height: 535.219px;
}
.s12{
	margin-top: 15px
}
.error{
	color: red;
}