/* TODO: Improve overall App design;
    You are encouraged to use any CSS framework to provide a clean and easy-to-use UI to use for users */

* {

}
select {
  display: block !important;
}
.show_item{
	height: 535.219px;
}
.s12{
	margin-top: 15px
}
.error{
	color: red;
  display: contents;
}

.auxiliar_section {
	background: #F3F6FA;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 12px 160px;
  position: static;
  left: 0px;
	background: #F3F6FA;
}

@media (min-width: 768px){
	.navbar-expand-md .navbar-collapse {
		margin-left: 313px;
	}
}

.nav-container{
  float: left;
	position: static;
	align-items: center;
	width: 285px;
}

.text-nav{
  width: 312px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #3C64B1;
}

a {
	color: #373F41;
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
}

.active .nav-link {
  color: #3C64B1;
}

h5.text-uppercase {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  margin: 40px 0px;
}

.footer_txt_color {
  color: #3C64B1;
}

footer p {
  width: 445px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #737B7D;
  margin: 40px 0px;
}

footer a {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #3C64B1;
}

footer li {
  margin: 40px 0px;
}