<h1>The Box Factory</h1>

<%= react_component("Box", {size: 'large', label: 'We offer many boxes!'}) %>

<style type="text/css">
* {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
</style>