<!-- Footer -->
<footer class="bg-light text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase footer_txt_color">The Box Factory</h5>

        <p>
          Lacus luctus accumsan tortor posuere ac ut consequat semper. Urna neque viverra justo nec. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Volutpat blandit aliquam etiam erat.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Pages</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="">About Us</a>
          </li>
          <li>
            <a href="#!" class="">Careers</a>
          </li>
          <li>
            <a href="#!" class="">Pricing</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="">Twitter</a>
          </li>
          <li>
            <a href="#!" class="">Facebook</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <!--div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div-->
  <!-- Copyright -->
</footer>
<!-- Footer -->